<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scheme</key>
		<string>ispmobile</string>
		<key>storeid</key>
		<string>369125087</string>
		<key>name</key>
		<string>ISP 모바일</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>lottesmartpay</string>
		<key>storeid</key>
		<string>668497947</string>
		<key>name</key>
		<string>롯데 스마트페이</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>lotteappcard</string>
		<key>storeid</key>
		<string>688047200</string>
		<key>name</key>
		<string>롯데 앱카드</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>inipaymobile</string>
		<key>storeid</key>
		<string>351845229</string>
		<key>name</key>
		<string>이니페이</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>lottemembers</string>
		<key>storeid</key>
		<string>473250588?mt=8</string>
		<key>name</key>
		<string>LPoint</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>payco</string>
		<key>storeid</key>
		<string>924292102</string>
		<key>name</key>
		<string>페이코</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>nhallonepayansimclick</string>
		<key>storeid</key>
		<string>1177889176</string>
		<key>name</key>
		<string>NH농협카드</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>ansimclick</string>
		<key>storeid</key>
		<string>369125087</string>
		<key>name</key>
		<string>ISP 안싴클릭</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>cardusim</string>
		<key>storeid</key>
		<string>369125087</string>
		<key>name</key>
		<string>유심카드</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>kb-acp</string>
		<key>storeid</key>
		<string>695436326</string>
		<key>name</key>
		<string>KB국민은행</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>ansimclickscard</string>
		<key>storeid</key>
		<string>379577046</string>
		<key>name</key>
		<string>삼성카드</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>mpocket.online.ansimclick</string>
		<key>storeid</key>
		<string>535125356</string>
		<key>name</key>
		<string>삼성카드 m포켓</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>smshinhanansimclick</string>
		<key>storeid</key>
		<string>360681882</string>
		<key>name</key>
		<string>신한카드</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>shinhan-sr-ansimclick</string>
		<key>storeid</key>
		<string>572462317</string>
		<key>name</key>
		<string>신한앱카드</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>hdcardappcardansimclick</string>
		<key>storeid</key>
		<string>702653088</string>
		<key>name</key>
		<string>현대카드</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>cloudpay</string>
		<key>storeid</key>
		<string>847268987</string>
		<key>name</key>
		<string>하나1Q페이</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>nhappcardansimclick</string>
		<key>storeid</key>
		<string>698023004</string>
		<key>name</key>
		<string>스마트NH농협카드</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>kftc-bankpay</string>
		<key>storeid</key>
		<string>398456030</string>
		<key>name</key>
		<string>금융결제원 BANK PAY</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>kakaotalk</string>
		<key>storeid</key>
		<string>362057947</string>
		<key>name</key>
		<string>카카오페이</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>lpayapp</string>
		<key>storeid</key>
		<string>1036098908</string>
		<key>name</key>
		<string>L.pay</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>tswansimclick</string>
		<key>storeid</key>
		<string>430282710</string>
		<key>name</key>
		<string>Syrup Wallet</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>citispay</string>
		<key>storeid</key>
		<string>373559493</string>
		<key>name</key>
		<string>씨티카드</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>smartxpay-transfer</string>
		<key>storeid</key>
		<string>393794374</string>
		<key>name</key>
		<string>스마트 엑스페이 계좌이체</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>nonghyupcardansimclick</string>
		<key>storeid</key>
		<string>609410702</string>
		<key>name</key>
		<string>NH안심클릭</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>nhallonepayansimclick</string>
		<key>storeid</key>
		<string>1177889176</string>
		<key>name</key>
		<string>NH모바일카드</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>hanaskcardmobileportal</string>
		<key>storeid</key>
		<string>427543371</string>
		<key>name</key>
		<string>하나카드</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>kipinapp</string>
		<key>storeid</key>
		<string>907376868</string>
		<key>name</key>
		<string>KCB아이핀</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>hyundaicardappcardid</string>
		<key>storeid</key>
		<string>702653088</string>
		<key>name</key>
		<string>현대카드(+앱카드)</string>
	</dict>
	<dict>
		<key>scheme</key>
		<string>kb-auth</string>
		<key>storeid</key>
		<string>695436326</string>
		<key>name</key>
		<string>KB국민 앱카드</string>
	</dict>
</array>
</plist>
